html {
    text-align: center;
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
}

#mainPage {
    height: 100%;
}

#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3366ff;
}

#topBarFill {
    width: 100%;
    height: 50px;
}

.ic_top {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: cover;
    margin: 10px;
}

#openSideButton {
    background-image: url(../img/ic_side_button.png);
    float: left;
}

#menu {
    background-image: url(../img/ic_menu.png);
    float: right;
}

#title {
    color: white;
    height: 100%;
    width: 100%;
}

#Text {
    font-size: 24px;
    margin: 9px;
}


/* 待办事项列表 */

.todo {
    text-align: left;
    font-size: 18px;
    box-shadow: 0 0.5px 0.2px #ccc;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.todo p {
    display: inline-block;
    margin: 10px;
}

.unchecked,
.checked {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
    margin-left: 15px;
}

.unchecked {
    background-image: url(../img/ic_unchecked.png);
}

.checked {
    background-image: url(../img/ic_checked.png);
}

.unchecked:before,
.checked:before {
    content: '\3000';
}