html {
    text-align: center;
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
}

#mainPage {
    height: 100%;
}

#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3366ff;
}

#topBarFill {
    height: 30%;
    width: 100%;
}

.ic_top {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: cover;
    margin: 10px;
}

#openSideButton {
    background-image: url(../img/ic_side_button.png);
    float: left;
}

#menu {
    background-image: url(../img/ic_suggestions.png);
    float: right;
}

#title {
    position: absolute;
    left: 1em;
    top: 50%;
    text-align: left;
    color: white;
}

#Text {
    font-size: 2.2em;
    margin: 0;
}

#date {
    font-size: 1.2em;
    margin: 5px;
}


/* top bar 动画*/

@keyframes to-big-bar {
    from {
        height: 10%;
    }
    to {
        height: 30%;
    }
}

@keyframes to-slim-bar {
    from {
        height: 30%;
    }
    to {
        height: 10%;
    }
}