/* index.css */


/* #6D4C41 */

#slide-show {
    position: relative;
    left: 0;
    right: 0;
    margin: 30px auto;
    width: 900px;
    height: 375px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 3px 8px gray;
}

#slide-list {
    width: 1000%;
    height: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: left 1s ease;
}

#slide-list li {
    float: left;
    width: 900px;
    height: 375px;
}

#slide-list img {
    width: 900px;
    height: 375px;
}

.btn-slide {
    position: relative;
    bottom: 187.5px;
    width: 48px;
    height: 48px;
    background-size: cover;
}

.btn-slide:hover {
    cursor: pointer;
}

#btn-prev {
    background-image: url(../img/btn-prev.png);
    float: left;
}

#btn-next {
    background-image: url(../img/btn-next.png);
    float: right;
}

#title {
    text-align: center;
    width: 4em;
    color: #2c2c2c;
    border-top: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
    margin: 50px auto 30px auto;
    font-size: 1.5em;
}

#title>p {
    margin: 10px 0px;
}

#hot {
    max-width: 1200px;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: 30px auto;
}

.hot-item {
    display: inline-block;
    width: 350px;
    height: 210px;
    margin: 15px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 3px 8px lightgray;
}

.hot-item>img {
    width: 100%;
    height: 100%;
}

.hot-item:hover .product-info {
    transform: translateY(-50px);
}

.product-info {
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    background-color: white;
    opacity: .9;
    transform: translateY(0);
    transition: transform 0.2s ease;
}

.product-info>span {
    font-size: 1.5rem;
    line-height: 50px;
    margin: 0 10px;
}