#form-container {
    width: 250px;
    margin: 150px auto;
    background-color: #f0f0f0;
    padding: 30px;
    box-sizing: content-box;
}

#form-container>h2 {
    text-align: center;
}

.form-item {
    width: inherit;
    height: 70px;
}

.form-item-content,
.form-submit {
    width: 100%;
    height: 40px;
    background-color: white;
}

.form-item-content>input {
    line-height: 40px;
    vertical-align: middle;
}

.form-item-content>i {
    width: 50px;
    line-height: 40px;
    vertical-align: middle;
}

.form-submit>input {
    width: 100%;
    line-height: 40px;
    background-color: #3FAAF9 !important;
    cursor: pointer;
}

.form-message {
    width: 100%;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    color: red;
    margin-left: 10px;
}

#form-container input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: white;
}

.login,
.register {
    font-size: 12px;
    float: right;
    margin: 5px;
    text-decoration: none;
}